<!DOCTYPE html>
<html>
<head>
<title>WINE STORE</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600,800,700,500,300,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
<link href="css/chatCSS.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/jquery.min.js"></script>
<script src="js/simpleCart.min.js"> </script>
<script src="js/indexJS.js"> </script>
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript" src="js/chatJS.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
</head>

<body>
<!--header-->
<div class="header">
	<div class="container">
		<div class="main-header">
			<div class="logo">
				<h3><a href="/">WINE STORE</a></h3>
			</div>			  
			<div class="box_1">				 
				<a href="/cart"><h3>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)<img src="images/cart.png" alt=""/></h3></a>
				<p><a href="#" id="usernameonpage">Bienvenido</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="contentmenu">	
		<ul class="megamenu skyblue">	
			<li class="grid"><a class="color1" href="/">INICIO</a></li>
			<li class="grid"><a href="/products">VINOS</a></li>
			<li class="grid"><a href="/about">NOSOTROS</a></li>
			<li><a href="/cart">CARRITO</a></li>				
		</ul> 	
		</div>				 
		<div class="clearfix"></div>			   	
	</div>

<div class="container">
    <ol class="breadcrumb">
        <h4>Comunicate con nosotros.</h4>
    </ol>
    
    <div class="col-md-2 frame" id="mensaje1">
	<br>
	<br>
	<h3>CHAT EN LINEA</h3>
	<br>
    <p>Este es un espacio para que nos cuentes tus inquietudes.</p>
	<br>
    <p>Se paciente te atenderemos en un momento.</p>
	<br>
    <p>No olvides llevar alguno de nuestros vinos exclusivos franceses.</p>
	<br>
	<p>-------------</p>
	<h4>Escribe en el campo de texto.</h4>
    </div>
    <div class="col-md-6 login-right">
        <div class="contenedorChat">
            <div class="col-md-6 frame">
                <ul id="contenedorChat"></ul>
                <div>
                    <div class="msj-rta macro" style="margin:auto">
                        <div class="text text-r" style="background:whitesmoke !important">
                            <input class="mytext" placeholder="Type a message" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="fotter-logo">
	 <div class="container">
	 <div class="ftr-logo"><h3><a href="/">WINE STORE</a></h3></div>
	 <div class="ftr-info">
	 <p>&copy; 2017 All Rights Reseverd Design by Wine. </p>
	</div>
	 <div class="clearfix"></div>
	 </div>
</div>
</body>
</html>