<script src="js/addProdCatJS.js"> </script>
<form enctype="multipart/form-data">
   <input name="media[]" type="file" id="archivo"/>
   <br>
   <input class="button" type="submit" alt="Upload" value="Upload" id="submitProd"/>
</form>